################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/EatWhat/.vs/EatWhat/v15
/ControlGame.WinForm/.vs/ControlGame.WinForm
/ControlGame.WinForm/ControlGame.WinForm/obj/Debug
/ControlGame.WinForm/ControlGame.WinForm/bin/Debug
/ControlGame.WinForm/ControlGame.WinForm/Properties
/EatWhat/.vs/EatWhat/v14
/EatWhat/bin
/EatWhat/obj
/EatWhat/Properties
/EatWhat/EatWhat.csproj.user
/MiaoCore/.vs/MiaoCore
/MiaoCore/bin/Debug
/MiaoCore/obj/Debug
/MiaoCore/Properties
/MiaoCore/MiaoCore.v12.suo
